@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}

button{
    cursor: pointer;
}

/* Começo dos itens do cabecalho */
.cabecalho_pesquisa{
    padding: 30px;
    background-color: #390099;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho_menu{
    background-color: #FF5A5F;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.logo{
   color: #ffff;
}

.pesquisa{
    border-radius: 20px;
    border: 0;
    width: 700px;
    height: 30px;
}

.botao{
    border: 0;
    border-radius: 20px;
    width: 140px;
    height: 30px;
    background-color: #FF5A5F;
    color: #ffff;
    font-weight: 600;
    font-size: 10px;
}

.carrinho, .entrar{
    font-size: 10px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.carrinho_img, .entrar_img, .lupa{
    width: 20px;
    height: 20px;
}

a{
    text-decoration: none;
    color: #ffff;
    font-size: 12px;
    font-weight: 600;
}

.cabecalho_menu li{
    list-style: none;
    gap: 10px;
}

.botoes{
    display: flex;
    gap: 30px;
}
form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

img {
    max-width: 60px;
}

.usuario, .cpf_cnpj, .cadeado, .cadeado2, .Email {
    display: block;
   
}

input[type="text"], input[type="password"], input[type="email"] {
    position: relative;
    bottom: 20px;
    left: 5px;
    border: none;
    font-size: 16px;
    margin: 0px;
    outline: 0px;
    height: auto;
    padding-top: 15px ;
}

#submit {
    background-color: #390099;
    border: none;
    padding: 19px 50px 18px 39px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    cursor: pointer;
}

#submit:hover {
    background-color: #4c06c4;
    color: #fff;
}

#conta {
    text-decoration: none;
    color: #390099;
    font-size: 15px;
}

h1 {

    color: #ff5a5f;
    font-size: 40px;
}

label {

    color: #ff5a5f;

}
