@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}

button {
    cursor: pointer;
}

img{
    width: 20px;
    height: 20px;
}

 .botao{
     border: 0;
     border-radius: 20px;
     width: 140px;
     height: 30px;
     background-color: #FF5A5F;
     color: #ffff;
     font-weight: 600;
     font-size: 10px;
 }
 
 .carrinho, .entrar{
     font-size: 10px;
     color: #ffff;
     display: flex;
     flex-direction: column;
     align-items: center;
     font-weight: 600;
 }
 
 a{
     text-decoration: none;
     color: #ffff;
     font-size: 12px;
     font-weight: 600;
 }

 .botoes{
    display: flex;
    gap: 30px;
}

main {
    padding: 0 30px 30px;
}

main .titulo-pag {
    font-size: 40px;
    padding: 50px 0;
    text-align: center;
    color: #FF5A5F;
    font-weight: bold;
}

main .content{
    display: flex;
}

main section{
    flex: 1;
}
main aside{
    min-width: 250px;
}

.tabela {
    width: 100%;
    border-collapse: collapse;
}

.tabela thead tr{
    border-bottom: 3px solid #eee;
}
.tabela thead tr th{
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #390099;
}

.tabela tbody tr {
    border-bottom: 3px solid #eee;
}
.tabela tbody tr td{
    padding: 30px 0;
}

.produto-img {
    width: 100px;
    height: 120px;
}

.produto {
    display: flex;
    align-items: center;
}
.produto .inf{
    margin-left: 20px
;
}

.produto .inf .nome{
    font-size: 20px;
}

.produto .inf .categoria{
    color: #616161;
}

.qtd {
    background-color: #eee;
    display: inline-flex;
    padding: 0px 0px;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}

.qtd .input-qtd{
    margin: 0 10px;
    text-align: center;
    width: 20px;
    border: 0;
    background-color: #eee;
}



.input-qtd::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    appearance: none;
    margin: 0;
}

.qtd button{
    background: transparent;
    border: 0;
    align-items: center;
    display: flex;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;
}

.qtd button:hover{
    background: #ddd;
}

.delete {
    background-color: #eee;
    border: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.delete:hover {
    background: #ddd;
}

aside {
    margin-bottom: 15px;
    margin-left: 20px;
    height: 300px;
}

aside .inf{
    padding: 20px;
    background-color: #eee;
    border: 1px solid #ddd;
}

aside .inf-title{
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

aside .inf > div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

aside .inf button{
    color: #FF5A5F;
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
}

aside .total{
    padding: 20px;
    background: #ddd;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
aside > button{
    border: 0;
    padding: 15px 0;
    color: white;
    background-color: #390099;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}


aside .btn-finalizar:hover {
    background-color: #4100b3;
}