@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: 0px;
    font-family: 'Kanit', sans-serif;
}

img{
    width: 20px;
    height: 20px;
}

/* Começo dos itens do #outlet */
#meuCarousel img{
    height: 40vw;
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.carousel-caption p{
    font-size: 20px;
}
.carousel-caption h3{
    font-size: 35px;
    font-weight: bold;
}
/* Fim dos itens do #outlet */

/* Começo dos itens do #info */
#info{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.divisor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.divisor p{
    text-align: center;
}

.icone{
    width: 80px;
    height: 80px;
    background-color: #FF5A5F;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.icone img{
    height: 45px;
    width: 45px;
}
/* Fim dos itens do #info */

/* Começo dos itens do #produtos */
#produtos{
    background-color: #390099;
    color: #ffff;
    
}

.produtos img{
    height: 270px;
    width: 200px;
}
/* Fim dos itens do #produtos */

/* Começo dos itens do #favoritos */
#favoritos h2{
    color: #FF5A5F;
    margin: 45px;
    font-size: 30px;
}

.empresa img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.empresa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Fim dos itens do #favoritos */

/* Começo do rodape */
footer{
    background-color: #390099;
    height: 20vh;
    color: #ffff;
    
}
/* Fim do rodape */
