@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: 0px;
    font-family: 'Kanit', sans-serif;
}

img{
    width: 20px;
    height: 20px;
}

/* Começo dos itens do #outlet */
#outlet{
    width: 100%;
    height: 70vh;
    background-image: url('https://vendamodaonline.com.br/wp-content/uploads/2019/02/clothes-3987460_1920-min-1024x683.jpg');
    background-size: 100%;
    color: white;
    display: flex;
    align-items: center;
}

#outlet h1{font-size: 50px;}
#outlet p{font-size: 20px;}

#outlet div{
    width: 50%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 25px;
    border-radius: 20px;
}

/* Fim dos itens do #outlet */

/* Começo dos itens do #info */
#info{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.divisor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.divisor p{
    text-align: center;
}

.icone{
    width: 80px;
    height: 80px;
    background-color: #FF5A5F;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.icone img{
    height: 45px;
    width: 45px;
}
/* Fim dos itens do #info */

/* Começo dos itens do #produtos */
#produtos{
    background-color: #390099;
    color: #ffff;
    padding: 40px;
    text-align: center;
}

#produtos h2{margin: 25px; font-size: 35px;}

#produtos > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.produtos img{
    height: 250px;
    width: 170px;
    border-radius: 10px;
}
/* Fim dos itens do #produtos */

/* Começo dos itens do #favoritos */
#favoritos h2{
    color: #FF5A5F;
    margin: 45px;
    font-size: 30px;
}

#favoritos{text-align: center;}

#favoritos > div{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#empresas{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.empresa img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
/* Fim dos itens do #favoritos */

footer{
    background-color: #390099;
    height: 50vh;
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img{
    height: 50px;
    width: 50px;
}

