@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}

button{
    cursor: pointer;
}

/* Começo dos itens do cabecalho */
.cabecalho_pesquisa{
    padding: 30px;
    background-color: #390099;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho_menu{
    background-color: #FF5A5F;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

#logo a{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
}

#logo img{
    width: 50px;
    height: 50px;
}


.pesquisa{
    border-radius: 20px;
    border: 0;
    width: 600px;
    height: 30px;
}

.botao{
    border: 0;
    border-radius: 20px;
    width: 140px;
    height: 30px;
    background-color: #FF5A5F;
    color: #ffff;
    font-weight: 600;
    font-size: 10px;
}

.carrinho, .entrar{
    font-size: 10px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.carrinho_img, .entrar_img, .lupa{
    width: 30px;
    height: 30px;
}

a{
    text-decoration: none;
    color: #ffff;
    font-size: 12px;
    font-weight: 600;
}

.cabecalho_menu li{
    list-style: none;
    gap: 10px;
}

.botoes{
    display: flex;
    gap: 30px;
}
/* Fim dos itens do cabecalho */