@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}
/* colocando cursor no botão*/
button{
    cursor: pointer;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}

button{
    cursor: pointer;
}

/* Começo dos itens do cabecalho */
.cabecalho_pesquisa{
    padding: 30px;
    background-color: #390099;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho_menu{
    background-color: #FF5A5F;
}

.cabecalho_menu a{
    color: #ffff;
    margin-left: 10px;
}

.itens_menu{
    padding-right: 350px;
    gap: 20px;
}


header a{
    text-decoration: none;
    color: #ffff;
    font-size: 12px;
    font-weight: 600;
}

header a:hover,.cabecalho_rosa a:hover{
    color: white;
    text-shadow: 0px 0px 10px white;
}

header .logo_titulo{
    font-size: 20px;
}

.logo a{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 10px;
}

.logo img{
    width: 50px;
    height: 50px;
}

/*
.busca{
    padding-top: 20px;
}*/

.pesquisa{
    border-radius: 20px;
    border: 0;
    width: 700px;
    height: 30px;
}

.botoes{
    padding-top: 20px;
}

.botoes img{
    width: 35px;
    height: 35px;
}

.carrinho,.entrar{
    margin-bottom: 15px
    
}

.botao{
    border: 0;
    border-radius: 20px;
    width: 120px;
    height: 25px;
    background-color: #FF5A5F;
    color: #ffff;
    font-weight: 600;
    font-size: 9px;
    padding: 10px;
    max-width: 120px;
    min-width: 110px;
}

.botoes_nome{
    font-size: 8px;
}

.carrinho, .entrar{
    font-size: 10px;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.carrinho_img, .entrar_img, .lupa{
    width: 20px;
    height: 20px;
}

.botoes{
    display: flex;
    gap: 30px;
}

/* Fim dos itens do cabecalho */

img {
    width:170px;
}

.titulo {
    color: #ff5a5f;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}

.but {
    width:100%;
    height: 50px;
    background-color: #390099;
    border: none;
    border-radius: 5px;
    color: white;
}

#titulo{
    padding: 20px;
    font-size: 25px;
}

#email, #senha, #senha2, #nome {
    width: 100%;
    border-radius: 5px;
    border: solid;
    border-color:#390099;
    border-width: 1px;
}


.link {
    text-decoration: none;
    color: #ff5a5f;
}
