@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;700&display=swap');

/*definindo estilos iniciais para todo o conteudo da página*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100%;
}

/*posicionamento da section*/
.secaoPrincipal{
    display: flex;
    justify-content: center;
}

/*definindo tamanho das imagens das estrelas*/
.estrelas{
    width: 100px;
    height: 25px;
}

/*inicio do estilo da div filtro*/

.offcanvas-body{
    border: 1px solid black;
    width: 300px;
    min-width: 200px;
    margin-bottom: 10px;
}

.preco, .marca, .cor, .avaliacao{
    padding-top: 15px;
}

.filtro_titulo{
    font-weight: 800;
    font-size: 20px;
}

.categoria_titulo, .preco_titulo, .marca_titulo, .avaliacao_titulo{
    font-weight: 600;
    padding-bottom: 5px;
}

.filtro_lateral{
    height: 100vh;
}
/*fim do filtro*/

/*inicio do estilo da div produtos*/

.linha1, .linha2, .linha3, .linha4, .linha5{
    display: flex;
    gap: 100px;
}

.produto_nome, .produto_descricao, .produto_valor{
    color: black;
}

.img-fluid{
    height: 300px;
    width: 500px;
}

.produto_nome{
    font-size: 15px;
}

.produto_descricao{
    color: rgb(154, 155, 156);
    text-decoration: line-through;
}

.produto_valor{
    font-size: 20px;
    font-weight: bold;
}

.botao_filtro{
    height: 20px;
    margin-top: 5px;
}

.secaoPrincipal a{
    text-decoration: none;
}


/*fim de produtos*/
